In [3]:
# 라이브러리
import pandas as pd
import numpy as np

In [8]:
# 기본 경로 설정
path = 'C:/Users/gihun/Python_data/data/Fertility_rate'

In [71]:
# 출산율 데이터 불러오기
fertility = pd.read_excel(path+'/출산율/시군구_합계출산율.xlsx')
fertility

c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시점,전국,서울특별시,성북구,노원구,은평구,양천구,강서구,구로구,관악구,...,전주시,익산시,전라남도,여수시,순천시,경상북도,경상남도,창원시,김해시,제주특별자치도
0,시점,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,...,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율
1,2006,1.132,0.98,1.012,1.114,0.994,1.019,1.064,1.156,0.922,...,1.151,1.23,1.337,1.237,1.233,1.208,1.254,1.225,1.364,1.372
2,2007,1.259,1.068,1.12,1.21,1.07,1.124,1.165,1.232,1.005,...,1.286,1.379,1.542,1.392,1.337,1.369,1.434,1.415,1.548,1.489
3,2008,1.192,1.01,1.042,1.134,0.966,1.043,1.123,1.202,0.942,...,1.232,1.289,1.449,1.31,1.272,1.313,1.368,1.331,1.433,1.386
4,2009,1.149,0.962,1.001,1.046,0.958,0.947,1.067,1.124,0.879,...,1.148,1.229,1.445,1.278,1.239,1.274,1.323,1.283,1.39,1.378
5,2010,1.226,1.015,1.048,1.1,1.02,0.974,1.085,1.197,0.881,...,1.23,1.337,1.537,1.379,1.25,1.377,1.413,-,1.471,1.463
6,2011,1.244,1.014,1.062,1.083,1.064,1.002,1.113,1.177,0.897,...,1.262,1.34,1.568,1.467,1.3,1.434,1.446,-,1.463,1.487
7,2012,1.297,1.059,1.044,1.162,1.139,1.055,1.151,1.258,0.891,...,1.3,1.426,1.642,1.462,1.343,1.489,1.503,-,1.541,1.598
8,2013,1.187,0.968,0.983,1.057,1.024,0.99,1.032,1.162,0.825,...,1.205,1.285,1.518,1.414,1.298,1.379,1.367,-,1.397,1.427
9,2014,1.205,0.983,0.949,1.109,1.028,1.005,1.064,1.142,0.834,...,1.233,1.273,1.497,1.381,1.261,1.408,1.409,-,1.473,1.481
10,2015,1.239,1.001,0.991,1.096,1.003,1.034,1.129,1.169,0.833,...,1.255,1.341,1.549,1.55,1.34,1.464,1.437,-,1.495,1.477
11,2016,1.172,0.94,0.909,1.068,0.943,1.008,1.059,1.07,0.777,...,1.149,1.213,1.466,1.464,1.247,1.396,1.358,-,1.403,1.432
12,2017,1.052,0.836,0.818,0.938,0.814,0.898,0.925,0.943,0.662,...,1.054,1.158,1.325,1.334,1.18,1.256,1.227,-,1.234,1.305
13,2018,0.977,0.761,0.737,0.809,0.772,0.771,0.826,0.838,0.597,...,0.954,1.03,1.24,1.192,1.108,1.167,1.122,-,1.082,1.22
14,2019,0.918,0.717,0.707,0.776,0.697,0.742,0.76,0.794,0.536,...,0.883,0.908,1.234,1.108,1.16,1.089,1.046,-,1.083,1.145
15,2020,0.837,0.642,0.676,0.695,0.623,0.644,0.675,0.737,0.474,...,0.811,0.851,1.145,1.067,1.041,1.003,0.945,-,0.952,1.021
16,2021,0.808,0.626,0.656,0.701,0.604,0.645,0.617,0.737,0.437,...,0.786,0.791,1.017,1.009,1,0.966,0.903,-,0.909,0.951

In [72]:
region_list = ['전국','서울특별시','부산광역시','대구광역시','인천광역시','광주광역시','대전광역시','울산광역시','세종특별자치시','경기도','강원도','충청북도','충청남도','전라북도','전라남도','경상북도','경상남도','제주특별자치도']

In [73]:
# 시점 인덱스 설정
fertility.set_index('시점',inplace=True)
# 시점 행 탈락
fertility.drop('시점',axis=0,inplace=True)
# 열 재설정
fertility = fertility[region_list]
# index int로 설정
fertility.index = fertility.index.astype(int)
# 세종시 결측치 -를 0값으로 변경
fertility = fertility.replace('-',0)
# 모든 값 자료형 변경
fertility = fertility.apply(pd.to_numeric)
fertility

,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
시점,,,,,,,,,,,,,,,,,,
2006,1.132,0.980,0.915,1.011,1.116,1.152,1.158,1.242,0.000,1.239,1.202,1.233,1.356,1.213,1.337,1.208,1.254,1.372
2007,1.259,1.068,1.024,1.137,1.257,1.262,1.274,1.403,0.000,1.361,1.356,1.398,1.506,1.380,1.542,1.369,1.434,1.489
2008,1.192,1.010,0.980,1.072,1.186,1.198,1.215,1.338,0.000,1.285,1.253,1.319,1.444,1.305,1.449,1.313,1.368,1.386
2009,1.149,0.962,0.940,1.029,1.143,1.137,1.156,1.308,0.000,1.226,1.248,1.317,1.408,1.279,1.445,1.274,1.323,1.378
2010,1.226,1.015,1.045,1.109,1.214,1.223,1.205,1.369,0.000,1.309,1.313,1.402,1.479,1.374,1.537,1.377,1.413,1.463
2011,1.244,1.014,1.078,1.146,1.232,1.234,1.261,1.393,0.000,1.314,1.338,1.428,1.496,1.405,1.568,1.434,1.446,1.487
2012,1.297,1.059,1.135,1.217,1.301,1.295,1.315,1.481,1.597,1.355,1.374,1.485,1.571,1.440,1.642,1.489,1.503,1.598
2013,1.187,0.968,1.049,1.127,1.195,1.170,1.234,1.391,1.435,1.226,1.249,1.365,1.442,1.320,1.518,1.379,1.367,1.427
2014,1.205,0.983,1.090,1.169,1.212,1.199,1.250,1.437,1.354,1.241,1.248,1.363,1.421,1.329,1.497,1.408,1.409,1.481
2015,1.239,1.001,1.139,1.216,1.216,1.207,1.277,1.486,1.893,1.272,1.311,1.414,1.480,1.352,1.549,1.464,1.437,1.477
2016,1.172,0.940,1.095,1.186,1.144,1.168,1.192,1.418,1.821,1.194,1.237,1.358,1.395,1.251,1.466,1.396,1.358,1.432
2017,1.052,0.836,0.976,1.067,1.007,1.053,1.075,1.261,1.668,1.069,1.123,1.235,1.276,1.151,1.325,1.256,1.227,1.305
2018,0.977,0.761,0.899,0.987,1.006,0.972,0.952,1.131,1.566,1.002,1.067,1.172,1.186,1.044,1.240,1.167,1.122,1.220
2019,0.918,0.717,0.827,0.932,0.940,0.913,0.883,1.084,1.472,0.943,1.082,1.050,1.112,0.971,1.234,1.089,1.046,1.145
2020,0.837,0.642,0.747,0.807,0.829,0.811,0.805,0.984,1.277,0.878,1.036,0.983,1.029,0.909,1.145,1.003,0.945,1.021
2021,0.808,0.626,0.728,0.785,0.778,0.896,0.810,0.940,1.277,0.853,0.979,0.949,0.963,0.850,1.017,0.966,0.903,0.951

In [74]:
fertility.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 2006 to 2021
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   전국       16 non-null     float64
 1   서울특별시    16 non-null     float64
 2   부산광역시    16 non-null     float64
 3   대구광역시    16 non-null     float64
 4   인천광역시    16 non-null     float64
 5   광주광역시    16 non-null     float64
 6   대전광역시    16 non-null     float64
 7   울산광역시    16 non-null     float64
 8   세종특별자치시  16 non-null     float64
 9   경기도      16 non-null     float64
 10  강원도      16 non-null     float64
 11  충청북도     16 non-null     float64
 12  충청남도     16 non-null     float64
 13  전라북도     16 non-null     float64
 14  전라남도     16 non-null     float64
 15  경상북도     16 non-null     float64
 16  경상남도     16 non-null     float64
 17  제주특별자치도  16 non-null     float64
dtypes: float64(18)
memory usage: 2.4 KB

In [75]:
# 학원 수 데이터 불러오기
academy = pd.read_excel(path+'/학원수/사설학원수2006~2021.xlsx')
academy

c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시점,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
0,시점,사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개)
1,2006,66841,11794,4709,3041,2652,2640,1982,2416,-,15529,2210,2154,2528,3084,2547,3317,5340,898
2,2007,67649,11549,4779,2929,2684,2420,2128,2346,-,15591,2315,2221,2660,3264,2637,3355,5844,927
3,2008,70329,12006,4751,2978,2879,2760,2134,2495,-,16566,2322,2276,2825,3313,2727,3306,6055,936
4,2009,72242,12086,4751,3435,2853,2211,2208,2649,-,17613,2393,2393,2902,3479,2829,3446,6059,935
5,2010,75952,13168,4860,3910,2924,2476,2218,2632,-,18146,2456,2489,3077,3842,2897,3572,6291,994
6,2011,76165,13477,5026,3746,2831,2281,2168,2600,-,18674,2474,2435,2944,3956,2891,3735,5970,957
7,2012,75695,13688,4859,3542,3338,2038,2167,2535,90,18530,2335,2393,2738,4005,2845,3696,5916,980
8,2013,75281,13405,4638,3639,3198,3368,2159,2303,108,18134,2326,2365,2684,3933,2787,3594,5662,978
9,2014,76030,13671,4529,3651,3167,3497,2086,2351,101,18074,2253,2350,2732,3989,2853,3842,5885,999
10,2015,78483,13989,4696,3639,3209,3535,2210,2479,169,20106,2185,2338,2758,3975,2737,3507,5945,1006
11,2016,78306,13974,4708,3744,3395,3534,2235,2542,257,19465,2187,2320,2782,4040,2652,3568,5907,996
12,2017,80130,14189,4748,3815,3585,3556,2224,2566,357,20195,2223,2298,2883,3971,2797,3677,6052,994
13,2018,80412,14080,4666,3901,3702,3402,2223,2586,499,20781,2200,2249,2961,3938,2691,3540,5976,1017
14,2019,80937,14044,4790,3948,3747,3472,2201,2540,607,21145,2182,2230,2923,3865,2703,3542,5972,1026
15,2020,81762,13992,4938,3941,3904,3439,2198,2503,689,21716,2179,2232,2939,3853,2687,3529,5972,1051
16,2021,81868,13809,5000,3968,3897,3433,2237,2461,800,21688,2188,2268,2926,3875,2677,3551,5995,1095

In [76]:
# 시점 인덱스 설정
academy.set_index('시점',inplace=True)
# 시점 행 탈락
academy.drop('시점',axis=0,inplace=True)
# index int로 설정
academy.index = academy.index.astype(int)
# 세종시 결측치 -를 0값으로 변경
academy = academy.replace('-',0)
# 모든 값 자료형 변경
academy = academy.apply(pd.to_numeric)
academy

,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
시점,,,,,,,,,,,,,,,,,,
2006,66841,11794,4709,3041,2652,2640,1982,2416,0,15529,2210,2154,2528,3084,2547,3317,5340,898
2007,67649,11549,4779,2929,2684,2420,2128,2346,0,15591,2315,2221,2660,3264,2637,3355,5844,927
2008,70329,12006,4751,2978,2879,2760,2134,2495,0,16566,2322,2276,2825,3313,2727,3306,6055,936
2009,72242,12086,4751,3435,2853,2211,2208,2649,0,17613,2393,2393,2902,3479,2829,3446,6059,935
2010,75952,13168,4860,3910,2924,2476,2218,2632,0,18146,2456,2489,3077,3842,2897,3572,6291,994
2011,76165,13477,5026,3746,2831,2281,2168,2600,0,18674,2474,2435,2944,3956,2891,3735,5970,957
2012,75695,13688,4859,3542,3338,2038,2167,2535,90,18530,2335,2393,2738,4005,2845,3696,5916,980
2013,75281,13405,4638,3639,3198,3368,2159,2303,108,18134,2326,2365,2684,3933,2787,3594,5662,978
2014,76030,13671,4529,3651,3167,3497,2086,2351,101,18074,2253,2350,2732,3989,2853,3842,5885,999
2015,78483,13989,4696,3639,3209,3535,2210,2479,169,20106,2185,2338,2758,3975,2737,3507,5945,1006
2016,78306,13974,4708,3744,3395,3534,2235,2542,257,19465,2187,2320,2782,4040,2652,3568,5907,996
2017,80130,14189,4748,3815,3585,3556,2224,2566,357,20195,2223,2298,2883,3971,2797,3677,6052,994
2018,80412,14080,4666,3901,3702,3402,2223,2586,499,20781,2200,2249,2961,3938,2691,3540,5976,1017
2019,80937,14044,4790,3948,3747,3472,2201,2540,607,21145,2182,2230,2923,3865,2703,3542,5972,1026
2020,81762,13992,4938,3941,3904,3439,2198,2503,689,21716,2179,2232,2939,3853,2687,3529,5972,1051
2021,81868,13809,5000,3968,3897,3433,2237,2461,800,21688,2188,2268,2926,3875,2677,3551,5995,1095

In [77]:
academy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 2006 to 2021
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   전국       16 non-null     int64
 1   서울특별시    16 non-null     int64
 2   부산광역시    16 non-null     int64
 3   대구광역시    16 non-null     int64
 4   인천광역시    16 non-null     int64
 5   광주광역시    16 non-null     int64
 6   대전광역시    16 non-null     int64
 7   울산광역시    16 non-null     int64
 8   세종특별자치시  16 non-null     int64
 9   경기도      16 non-null     int64
 10  강원도      16 non-null     int64
 11  충청북도     16 non-null     int64
 12  충청남도     16 non-null     int64
 13  전라북도     16 non-null     int64
 14  전라남도     16 non-null     int64
 15  경상북도     16 non-null     int64
 16  경상남도     16 non-null     int64
 17  제주특별자치도  16 non-null     int64
dtypes: int64(18)
memory usage: 2.4 KB

In [78]:
# 혼인건수 데이터 불러오기
marry = pd.read_excel(path+'/혼인건수/시군구_혼인건수.xlsx')
marry

c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시점,전국,서울특별시,성북구,노원구,은평구,양천구,강서구,구로구,관악구,...,전주시,익산시,전라남도,여수시,순천시,경상북도,경상남도,창원시,김해시,제주특별자치도
0,2006,330634,73924,3299,3977,3085,2798,4171,3701,4660,...,3438,1747,10507,1629,1474,16178,20789,3386,3056,3576
1,2007,343559,76399,3364,4013,3030,3050,4233,3952,4880,...,3653,1865,10854,1689,1506,16623,21555,3482,3208,3495
2,2008,327715,71753,3067,3625,2905,2668,4283,3649,4509,...,3490,1819,10480,1720,1529,15634,20497,3319,3102,3445
3,2009,309759,68841,2947,3368,2816,2647,4141,3307,4296,...,3335,1592,10051,1567,1352,14499,19494,3114,2985,3279
4,2010,326104,70466,3212,3511,3009,2553,4247,3472,4365,...,3622,1726,10461,1820,1424,15592,21170,-,3238,3515
5,2011,329087,71519,3109,3720,3205,2777,4276,3470,4372,...,3765,1712,10266,1773,1476,15942,20769,-,3084,3582
6,2012,327073,71695,2933,3638,3232,2679,4432,3610,4457,...,3574,1627,9827,1684,1413,15383,20140,-,3061,3482
7,2013,322807,68819,2809,3432,3277,2644,4331,3357,4183,...,3725,1635,9995,1797,1444,15421,20291,-,3320,3638
8,2014,305507,64823,2415,3176,2916,2490,4338,3156,3949,...,3457,1484,9357,1755,1432,14183,19056,-,3123,3593
9,2015,302828,64193,2379,3146,2812,2516,4578,3045,3859,...,3406,1544,9275,1718,1396,14273,18671,-,2901,3676
10,2016,281635,57643,2131,2778,2573,2258,4111,2674,3537,...,3084,1344,8554,1453,1304,13363,17580,-,2750,3705
11,2017,264455,53776,1917,2420,2331,2021,4069,2460,3205,...,2911,1246,8049,1399,1227,12190,15978,-,2578,3654
12,2018,257622,52005,1919,2240,2364,1957,3835,2286,3090,...,2944,1063,7587,1251,1273,11687,14996,0,2489,3638
13,2019,239159,48261,1880,2138,2178,1705,3589,2063,2802,...,2828,1010,7413,1257,1164,10637,13613,0,2425,3358
14,2020,213502,44746,1672,1961,2061,1637,3233,2063,2529,...,2447,820,6365,1051,1017,9046,11900,0,2185,2981
15,2021,192507,37012,1471,1765,1590,1359,2669,1671,2110,...,2185,878,6201,1083,1047,8163,10531,0,1820,2661

In [79]:
# 시점 인덱스 설정
marry.set_index('시점',inplace=True)
# 열 재설정
marry = marry[region_list]
# index int로 설정
marry.index = marry.index.astype(int)
# 세종시 결측치 -를 0값으로 변경
marry = marry.replace('-',0)
# 모든 값 자료형 변경
marry = marry.apply(pd.to_numeric)
marry

,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
시점,,,,,,,,,,,,,,,,,,
2006,330634,73924,20017,13892,17261,8487,9502,7493,0,77231,8731,9291,13373,10429,10507,16178,20789,3576
2007,343559,76399,21484,14655,18227,8858,9684,7563,0,81248,8930,9834,13766,10864,10854,16623,21555,3495
2008,327715,71753,20149,13743,18108,8472,9499,7837,0,78004,8517,9512,13354,10399,10480,15634,20497,3445
2009,309759,68841,18614,12844,16643,8088,8885,7267,0,73403,8081,8666,12708,9605,10051,14499,19494,3279
2010,326104,70466,20195,13479,17407,8566,9351,7660,0,78471,8365,9171,13185,10525,10461,15592,21170,3515
2011,329087,71519,20224,13813,18013,8946,9726,7768,0,79137,8338,9542,13216,10353,10266,15942,20769,3582
2012,327073,71695,20362,13642,18079,8596,9745,7887,634,79449,8225,9275,12849,10022,9827,15383,20140,3482
2013,322807,68819,20734,13601,18010,8820,9621,7998,743,77649,7946,9307,12482,9823,9995,15421,20291,3638
2014,305507,64823,18927,12552,17251,8213,9118,7674,920,74306,7785,8774,12040,9211,9357,14183,19056,3593
2015,302828,64193,18553,12545,17118,7945,8805,7483,1498,73950,7876,8872,12331,9060,9275,14273,18671,3676
2016,281635,57643,17113,12216,16092,7468,8325,7006,1612,70052,7468,8334,11792,8216,8554,13363,17580,3705
2017,264455,53776,15677,11392,15235,7141,7697,6331,1728,66429,7295,7990,10961,7817,8049,12190,15978,3654
2018,257622,52005,14781,10967,14850,6632,7377,5894,2038,66877,6994,7827,10970,7219,7587,11687,14996,3638
2019,239159,48261,13780,9880,13401,6297,6602,5442,2039,62356,6762,7239,9826,7005,7413,10637,13613,3358
2020,213502,44746,12128,8340,11574,5560,5976,4737,1854,57814,5868,6682,8493,6053,6365,9046,11900,2981
2021,192507,37012,11081,7287,10881,4901,5419,4077,1627,54658,5622,5882,8016,5325,6201,8163,10531,2661

In [80]:
marry.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 2006 to 2021
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   전국       16 non-null     int64
 1   서울특별시    16 non-null     int64
 2   부산광역시    16 non-null     int64
 3   대구광역시    16 non-null     int64
 4   인천광역시    16 non-null     int64
 5   광주광역시    16 non-null     int64
 6   대전광역시    16 non-null     int64
 7   울산광역시    16 non-null     int64
 8   세종특별자치시  16 non-null     int64
 9   경기도      16 non-null     int64
 10  강원도      16 non-null     int64
 11  충청북도     16 non-null     int64
 12  충청남도     16 non-null     int64
 13  전라북도     16 non-null     int64
 14  전라남도     16 non-null     int64
 15  경상북도     16 non-null     int64
 16  경상남도     16 non-null     int64
 17  제주특별자치도  16 non-null     int64
dtypes: int64(18)
memory usage: 2.4 KB

In [81]:
# 이혼건수 데이터 불러오기
divorce = pd.read_excel(path+'/이혼건수/시군구_이혼건수.xlsx')
divorce

c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시점,전국,서울특별시,성북구,노원구,은평구,양천구,강서구,구로구,관악구,...,전주시,익산시,전라남도,여수시,순천시,경상북도,경상남도,창원시,김해시,제주특별자치도
0,2006,124524,24354,1112,1278,1283,1104,1427,967,1173,...,1363,913,4423,748,619,5604,7603,1023,1223,1613
1,2007,124072,24615,1131,1308,1273,1145,1393,982,1238,...,1331,831,4240,692,571,5571,7493,1055,1171,1561
2,2008,116535,23319,1066,1192,1115,1046,1366,935,1228,...,1123,740,4021,622,527,5287,6981,997,1173,1238
3,2009,123999,23920,1118,1317,1179,1004,1376,1017,1270,...,1300,802,4290,650,590,5523,7476,1008,1281,1469
4,2010,116858,21768,987,1190,1103,981,1261,923,1086,...,1161,707,4326,667,600,5476,7503,-,1209,1466
5,2011,114284,20617,886,1120,999,903,1198,899,1080,...,1245,727,4138,656,518,5322,7207,-,1193,1395
6,2012,114316,20177,885,1094,1081,891,1165,885,1039,...,1130,681,4011,632,534,5562,7427,-,1284,1426
7,2013,115292,20126,934,1075,1073,910,1181,883,1089,...,1285,737,4096,609,561,5410,7547,-,1240,1440
8,2014,115510,19477,907,1067,980,873,1092,826,1005,...,1336,736,4135,666,549,5503,7602,-,1290,1530
9,2015,109153,18176,823,984,948,775,1118,817,896,...,1129,641,4033,592,553,5348,7368,-,1241,1447
10,2016,107328,17777,833,955,947,821,1112,783,926,...,1306,670,3965,636,496,5375,7486,-,1282,1552
11,2017,106032,17083,732,1003,917,700,1120,775,817,...,1141,680,4008,612,530,5505,7355,-,1286,1530
12,2018,108684,16940,757,887,925,743,1068,741,856,...,1251,677,4170,623,556,5620,7575,0,1268,1607
13,2019,110831,16972,661,903,905,727,1103,733,875,...,1290,677,4130,633,572,5635,7827,0,1313,1716
14,2020,106500,16282,667,891,869,761,1103,716,769,...,1216,616,3907,612,506,5553,7368,0,1229,1744
15,2021,101673,14967,647,782,807,683,973,658,741,...,1201,634,3776,563,524,5097,7034,0,1228,1490

In [82]:
# 시점 인덱스 설정
divorce.set_index('시점',inplace=True)
# 열 재설정
divorce = divorce[region_list]
# index int로 설정
divorce.index = divorce.index.astype(int)
# 세종시 결측치 -를 0값으로 변경
divorce = divorce.replace('-',0)
# 모든 값 자료형 변경
divorce = divorce.apply(pd.to_numeric)
divorce

,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
시점,,,,,,,,,,,,,,,,,,
2006,124524,24354,8953,5490,8132,2974,3287,2825,0,30003,3985,3438,4647,4448,4423,5604,7603,1613
2007,124072,24615,8677,5330,7854,2925,3449,2581,0,29964,3818,3558,4703,4417,4240,5571,7493,1561
2008,116535,23319,7908,5005,7414,2836,3236,2295,0,28379,3394,3354,4472,3784,4021,5287,6981,1238
2009,123999,23920,8550,5361,7880,3076,3433,2591,0,29807,3742,3738,5178,4285,4290,5523,7476,1469
2010,116858,21768,7645,5107,7354,3002,3189,2597,0,27810,3579,3554,4756,3910,4326,5476,7503,1466
2011,114284,20617,7514,4658,6840,2857,3067,2380,0,28444,3562,3675,4819,4176,4138,5322,7207,1395
2012,114316,20177,7501,4947,7306,2923,2938,2590,223,28452,3550,3424,4685,3856,4011,5562,7427,1426
2013,115292,20126,7444,4796,7253,2924,3003,2578,240,28733,3725,3732,4820,4144,4096,5410,7547,1440
2014,115510,19477,7345,4794,7417,3051,3221,2731,280,28892,3630,3671,4915,4091,4135,5503,7602,1530
2015,109153,18176,6649,4497,7116,2842,2999,2406,324,27688,3484,3486,4724,3755,4033,5348,7368,1447
2016,107328,17777,6859,4383,7097,2817,2890,2520,343,26723,3482,3446,4682,3979,3965,5375,7486,1552
2017,106032,17083,6651,4380,6988,2694,2855,2519,465,26924,3263,3461,4835,3698,4008,5505,7355,1530
2018,108684,16940,6678,4530,7011,2887,3008,2658,485,27884,3418,3543,4842,3934,4170,5620,7575,1607
2019,110831,16972,6787,4655,7176,2915,3097,2534,606,28453,3624,3699,5202,4007,4130,5635,7827,1716
2020,106500,16282,6497,4345,6931,2604,3009,2460,601,27983,3358,3492,5003,3763,3907,5553,7368,1744
2021,101673,14967,6248,4111,6740,2572,2754,2425,624,27256,3161,3256,4798,3748,3776,5097,7034,1490

In [83]:
divorce.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 2006 to 2021
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   전국       16 non-null     int64
 1   서울특별시    16 non-null     int64
 2   부산광역시    16 non-null     int64
 3   대구광역시    16 non-null     int64
 4   인천광역시    16 non-null     int64
 5   광주광역시    16 non-null     int64
 6   대전광역시    16 non-null     int64
 7   울산광역시    16 non-null     int64
 8   세종특별자치시  16 non-null     int64
 9   경기도      16 non-null     int64
 10  강원도      16 non-null     int64
 11  충청북도     16 non-null     int64
 12  충청남도     16 non-null     int64
 13  전라북도     16 non-null     int64
 14  전라남도     16 non-null     int64
 15  경상북도     16 non-null     int64
 16  경상남도     16 non-null     int64
 17  제주특별자치도  16 non-null     int64
dtypes: int64(18)
memory usage: 2.4 KB

In [112]:
# 실업률,고용율 데이터 불러오기
emp = pd.read_excel(path+'/실업률,고용율/시도성별_경제활동인구.xlsx')
emp

c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시점,성별,계,계.1,서울특별시,서울특별시.1,부산광역시,부산광역시.1,대구광역시,대구광역시.1,...,전라북도,전라북도.1,전라남도,전라남도.1,경상북도,경상북도.1,경상남도,경상남도.1,제주도,제주도.1
0,시점,성별,실업률 (%),고용률 (%),실업률 (%),고용률 (%),실업률 (%),고용률 (%),실업률 (%),고용률 (%),...,실업률 (%),고용률 (%),실업률 (%),고용률 (%),실업률 (%),고용률 (%),실업률 (%),고용률 (%),실업률 (%),고용률 (%)
1,2006,여자,3,49,4.1,50.3,3.2,46,2.9,48.6,...,1.5,49,1.3,54,1.9,53.2,2.1,49.6,1.8,62.8
2,2007,여자,2.7,49.1,3.3,50.5,3.4,46.3,3.2,47.6,...,1.7,49.3,1.3,54.6,1.9,52.3,1.6,49.5,1.7,62.3
3,2008,여자,2.6,48.9,3.3,49.9,3.3,45.7,3,46.2,...,1.9,48.6,1.4,54.8,1.5,51.9,1.6,50.4,1.7,60.1
4,2009,여자,3,47.8,3.5,48.5,3.5,44.4,3.8,46,...,1.6,48.4,1.3,54.5,2.3,51.6,2.7,49,1.3,59.8
5,2010,여자,3.3,47.9,3.8,49.6,2.9,44.5,3.8,47.5,...,1.9,46.6,2.2,52.5,2.7,52.1,2.5,48.3,2,57.3
6,2011,여자,3.1,48.3,3.9,50.4,3,44.3,2.7,47.4,...,2,47.1,1.8,52.8,2.2,51.7,2.2,49.2,1.2,58.4
7,2012,여자,3,48.6,3.7,50.5,3,46.2,2.8,49.1,...,1.7,46.8,1.6,53.4,2.3,52.3,2,47.4,1.4,59.9
8,2013,여자,2.8,48.9,3.6,50.6,3.1,46.1,2.9,48.7,...,1.8,47.4,1.8,53,2.9,51.6,1.9,48.4,1.7,59
9,2014,여자,3.5,49.7,4.4,51.1,3,46.4,4.2,48.7,...,2.4,47.2,2.4,52.7,2.8,52.3,2.2,49,2.2,59.8
10,2015,여자,3.5,50.1,4.1,50.7,3.9,46.6,3.5,49.2,...,2.1,48.9,1.9,53.4,2.8,51.1,2.8,49.1,1.5,61.2
11,2016,여자,3.6,50.3,4.2,50.9,3.5,46.9,3.9,49.7,...,1.6,50.2,1.9,54.2,3.2,51.2,3,48.9,1.7,62.8
12,2017,여자,3.5,50.8,4.3,51.7,4.8,46.7,3.8,50.5,...,2.2,48.8,2.9,53.6,2.9,51.3,2.4,49.3,1.7,65
13,2018,여자,3.7,50.9,4.6,51.6,3.7,46.8,3.8,50.3,...,2.2,48.5,2.5,53.8,4.2,50.9,2.9,49.6,2.3,61.2
14,2019,여자,3.6,51.6,4.1,52.2,3.7,48.7,3.5,48.8,...,2.2,50.4,2.4,54.8,3.3,51.2,3.7,50.5,2,61.6
15,2020,여자,4,50.7,4.9,51.6,4,47.6,3.9,46.8,...,2.4,51.1,2.4,55.1,3.9,50.5,3.9,50.4,2.4,62
16,2021,여자,3.8,51.2,5,51.8,3.3,47.9,3.8,48.9,...,2.3,52.6,2.3,56.1,2.8,50.3,4,51,3.6,61.5

In [113]:
# 시점 인덱스 설정
emp.set_index('시점',inplace=True)
# 시점 행 탈락
emp.drop('시점',axis=0,inplace=True)
# 열 재설정
emp = emp[['계.1','서울특별시.1','부산광역시.1','대구광역시.1','인천광역시.1','광주광역시.1','대전광역시.1','울산광역시.1','세종특별자치시.1','경기도.1','강원도.1','충청북도.1','충청남도.1','전라북도.1','전라남도.1','경상북도.1','경상남도.1','제주도.1']]
emp = emp.rename(columns={'계.1':'전국', '서울특별시.1':'서울특별시','부산광역시.1':'부산광역시','대구광역시.1':'대구광역시', '인천광역시.1':'인천광역시', '광주광역시.1':'광주광역시', '대전광역시.1':'대전광역시', '울산광역시.1':'울산광역시',
                          '세종특별자치시.1':'세종특별자치시', '경기도.1':'경기도', '강원도.1':'강원도', '충청북도.1':'충청북도', '충청남도.1':'충청남도', '전라북도.1':'전라북도', '전라남도.1':'전라남도', '경상북도.1':'경상북도',
                          '경상남도.1':'경상남도', '제주도.1':'제주특별자치시'})
# index int로 설정
emp.index = emp.index.astype(int)
# 세종시 결측치 -를 0값으로 변경
emp = emp.replace('-',0)
# 모든 값 자료형 변경
emp = emp.apply(pd.to_numeric)
emp

,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치시
시점,,,,,,,,,,,,,,,,,,
2006,49.0,50.3,46.0,48.6,46.4,46.9,45.2,40.6,0.0,47.7,48.5,48.3,52.9,49.0,54.0,53.2,49.6,62.8
2007,49.1,50.5,46.3,47.6,47.2,47.5,45.9,42.5,0.0,47.9,47.2,48.1,53.5,49.3,54.6,52.3,49.5,62.3
2008,48.9,49.9,45.7,46.2,46.8,46.6,46.1,45.5,0.0,48.3,47.8,48.0,51.1,48.6,54.8,51.9,50.4,60.1
2009,47.8,48.5,44.4,46.0,47.6,46.2,45.9,43.7,0.0,46.2,47.8,49.4,48.9,48.4,54.5,51.6,49.0,59.8
2010,47.9,49.6,44.5,47.5,47.6,48.1,45.1,44.5,0.0,45.9,46.9,49.5,49.1,46.6,52.5,52.1,48.3,57.3
2011,48.3,50.4,44.3,47.4,48.8,47.4,45.8,45.0,0.0,46.2,46.6,49.8,48.9,47.1,52.8,51.7,49.2,58.4
2012,48.6,50.5,46.2,49.1,50.5,46.1,46.5,43.1,0.0,46.6,47.3,49.2,49.6,46.8,53.4,52.3,47.4,59.9
2013,48.9,50.6,46.1,48.7,50.5,47.9,46.5,41.3,0.0,47.7,46.8,49.8,50.3,47.4,53.0,51.6,48.4,59.0
2014,49.7,51.1,46.4,48.7,50.6,49.0,48.2,40.2,0.0,49.5,47.7,52.1,50.3,47.2,52.7,52.3,49.0,59.8
2015,50.1,50.7,46.6,49.2,50.6,48.2,49.7,42.2,0.0,50.3,50.0,52.9,50.4,48.9,53.4,51.1,49.1,61.2
2016,50.3,50.9,46.9,49.7,51.1,48.0,50.6,44.0,0.0,50.3,50.6,53.2,49.1,50.2,54.2,51.2,48.9,62.8
2017,50.8,51.7,46.7,50.5,51.2,50.3,49.4,46.0,49.1,50.9,53.3,53.3,50.3,48.8,53.6,51.3,49.3,65.0
2018,50.9,51.6,46.8,50.3,53.0,51.0,49.9,46.3,49.7,50.8,53.1,52.6,52.6,48.5,53.8,50.9,49.6,61.2
2019,51.6,52.2,48.7,48.8,53.3,50.5,50.5,46.8,51.4,51.3,54.9,53.5,52.9,50.4,54.8,51.2,50.5,61.6
2020,50.7,51.6,47.6,46.8,52.0,50.8,51.7,44.7,51.6,49.3,53.5,54.3,52.0,51.1,55.1,50.5,50.4,62.0
2021,51.2,51.8,47.9,48.9,51.7,49.8,51.8,45.7,51.3,50.4,55.2,54.5,52.8,52.6,56.1,50.3,51.0,61.5

In [114]:
emp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 2006 to 2021
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   전국       16 non-null     float64
 1   서울특별시    16 non-null     float64
 2   부산광역시    16 non-null     float64
 3   대구광역시    16 non-null     float64
 4   인천광역시    16 non-null     float64
 5   광주광역시    16 non-null     float64
 6   대전광역시    16 non-null     float64
 7   울산광역시    16 non-null     float64
 8   세종특별자치시  16 non-null     float64
 9   경기도      16 non-null     float64
 10  강원도      16 non-null     float64
 11  충청북도     16 non-null     float64
 12  충청남도     16 non-null     float64
 13  전라북도     16 non-null     float64
 14  전라남도     16 non-null     float64
 15  경상북도     16 non-null     float64
 16  경상남도     16 non-null     float64
 17  제주특별자치시  16 non-null     float64
dtypes: float64(18)
memory usage: 2.4 KB

In [122]:
# 실업률 df생성
unemp = pd.read_excel(path+'/실업률,고용율/시도성별실업률.xlsx')
unemp

c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시점,성별,계,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주도
0,2006,여자,3.0,4.1,3.2,2.9,3.5,3.2,4.3,3.1,-,3.1,0.8,1.8,2.4,1.5,1.3,1.9,2.1,1.8
1,2007,여자,2.7,3.3,3.4,3.2,3.7,2.9,3.4,2.8,-,2.5,1.4,1.9,2.3,1.7,1.3,1.9,1.6,1.7
2,2008,여자,2.6,3.3,3.3,3.0,3.5,2.9,3.0,3.2,-,2.5,1.3,2.2,2.4,1.9,1.4,1.5,1.6,1.7
3,2009,여자,3.0,3.5,3.5,3.8,3.9,3.4,2.7,4.2,-,3.2,1.8,1.6,2.4,1.6,1.3,2.3,2.7,1.3
4,2010,여자,3.3,3.8,2.9,3.8,5.0,3.1,4.0,3.1,-,3.8,2.0,2.1,2.6,1.9,2.2,2.7,2.5,2.0
5,2011,여자,3.1,3.9,3.0,2.7,4.6,2.6,4.6,2.4,-,3.4,2.1,2.6,2.3,2.0,1.8,2.2,2.2,1.2
6,2012,여자,3.0,3.7,3.0,2.8,4.5,2.3,3.8,3.2,-,3.1,2.5,1.6,2.4,1.7,1.6,2.3,2.0,1.4
7,2013,여자,2.8,3.6,3.1,2.9,3.8,2.1,2.7,2.3,-,2.8,2.4,1.9,2.5,1.8,1.8,2.9,1.9,1.7
8,2014,여자,3.5,4.4,3.0,4.2,5.1,2.4,3.1,2.7,-,3.4,3.1,3.1,3.6,2.4,2.4,2.8,2.2,2.2
9,2015,여자,3.5,4.1,3.9,3.5,4.8,3.0,3.0,3.2,-,3.9,2.9,2.6,3.7,2.1,1.9,2.8,2.8,1.5
10,2016,여자,3.6,4.2,3.5,3.9,4.5,2.9,3.2,2.9,-,4.1,2.8,2.9,3.4,1.6,1.9,3.2,3.0,1.7
11,2017,여자,3.5,4.3,4.8,3.8,3.8,2.4,3.3,3.0,2.4,3.8,2.9,2.4,2.9,2.2,2.9,2.9,2.4,1.7
12,2018,여자,3.7,4.6,3.7,3.8,4.2,3.4,4.1,4.1,3.1,3.7,2.9,2.8,3.2,2.2,2.5,4.2,2.9,2.3
13,2019,여자,3.6,4.1,3.7,3.5,4.3,3.9,3.9,3.7,3.1,3.6,3.7,2.7,3.2,2.2,2.4,3.3,3.7,2.0
14,2020,여자,4.0,4.9,4.0,3.9,4.7,3.7,4.4,4.5,3,3.9,4.4,3.0,3.8,2.4,2.4,3.9,3.9,2.4
15,2021,여자,3.8,5.0,3.3,3.8,3.8,3.7,3.5,3.9,2.4,4.0,4.0,2.4,2.2,2.3,2.3,2.8,4.0,3.6

In [123]:
# 시점 인덱스 설정
unemp.set_index('시점',inplace=True)
# 성별 열 탈락
unemp.drop(columns='성별', inplace=True)
# 열 재설정
unemp = unemp.rename(columns={'계':'전국',  '제주도':'제주특별자치시'})
# index int로 설정
unemp.index = unemp.index.astype(int)
# 세종시 결측치 -를 0값으로 변경
unemp = unemp.replace('-',0)
# 모든 값 자료형 변경
unemp = unemp.apply(pd.to_numeric)
unemp

,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치시
시점,,,,,,,,,,,,,,,,,,
2006,3.0,4.1,3.2,2.9,3.5,3.2,4.3,3.1,0.0,3.1,0.8,1.8,2.4,1.5,1.3,1.9,2.1,1.8
2007,2.7,3.3,3.4,3.2,3.7,2.9,3.4,2.8,0.0,2.5,1.4,1.9,2.3,1.7,1.3,1.9,1.6,1.7
2008,2.6,3.3,3.3,3.0,3.5,2.9,3.0,3.2,0.0,2.5,1.3,2.2,2.4,1.9,1.4,1.5,1.6,1.7
2009,3.0,3.5,3.5,3.8,3.9,3.4,2.7,4.2,0.0,3.2,1.8,1.6,2.4,1.6,1.3,2.3,2.7,1.3
2010,3.3,3.8,2.9,3.8,5.0,3.1,4.0,3.1,0.0,3.8,2.0,2.1,2.6,1.9,2.2,2.7,2.5,2.0
2011,3.1,3.9,3.0,2.7,4.6,2.6,4.6,2.4,0.0,3.4,2.1,2.6,2.3,2.0,1.8,2.2,2.2,1.2
2012,3.0,3.7,3.0,2.8,4.5,2.3,3.8,3.2,0.0,3.1,2.5,1.6,2.4,1.7,1.6,2.3,2.0,1.4
2013,2.8,3.6,3.1,2.9,3.8,2.1,2.7,2.3,0.0,2.8,2.4,1.9,2.5,1.8,1.8,2.9,1.9,1.7
2014,3.5,4.4,3.0,4.2,5.1,2.4,3.1,2.7,0.0,3.4,3.1,3.1,3.6,2.4,2.4,2.8,2.2,2.2
2015,3.5,4.1,3.9,3.5,4.8,3.0,3.0,3.2,0.0,3.9,2.9,2.6,3.7,2.1,1.9,2.8,2.8,1.5
2016,3.6,4.2,3.5,3.9,4.5,2.9,3.2,2.9,0.0,4.1,2.8,2.9,3.4,1.6,1.9,3.2,3.0,1.7
2017,3.5,4.3,4.8,3.8,3.8,2.4,3.3,3.0,2.4,3.8,2.9,2.4,2.9,2.2,2.9,2.9,2.4,1.7
2018,3.7,4.6,3.7,3.8,4.2,3.4,4.1,4.1,3.1,3.7,2.9,2.8,3.2,2.2,2.5,4.2,2.9,2.3
2019,3.6,4.1,3.7,3.5,4.3,3.9,3.9,3.7,3.1,3.6,3.7,2.7,3.2,2.2,2.4,3.3,3.7,2.0
2020,4.0,4.9,4.0,3.9,4.7,3.7,4.4,4.5,3.0,3.9,4.4,3.0,3.8,2.4,2.4,3.9,3.9,2.4
2021,3.8,5.0,3.3,3.8,3.8,3.7,3.5,3.9,2.4,4.0,4.0,2.4,2.2,2.3,2.3,2.8,4.0,3.6

In [124]:
unemp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 2006 to 2021
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   전국       16 non-null     float64
 1   서울특별시    16 non-null     float64
 2   부산광역시    16 non-null     float64
 3   대구광역시    16 non-null     float64
 4   인천광역시    16 non-null     float64
 5   광주광역시    16 non-null     float64
 6   대전광역시    16 non-null     float64
 7   울산광역시    16 non-null     float64
 8   세종특별자치시  16 non-null     float64
 9   경기도      16 non-null     float64
 10  강원도      16 non-null     float64
 11  충청북도     16 non-null     float64
 12  충청남도     16 non-null     float64
 13  전라북도     16 non-null     float64
 14  전라남도     16 non-null     float64
 15  경상북도     16 non-null     float64
 16  경상남도     16 non-null     float64
 17  제주특별자치시  16 non-null     float64
dtypes: float64(18)
memory usage: 2.4 KB

In [129]:
# 교육정도 df생성
edu = pd.read_excel(path+'/대졸이상여성인구/시군구대졸이상여성인구2005.xlsx')
edu

c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시점,합계,합계.1,합계.2,합계.3,합계.4,합계.5,합계.6,합계.7,합계.8,합계.9,합계.10,합계.11,합계.12,합계.13,합계.14,합계.15,합계.16,합계.17,합계.18,합계.19,합계.20,합계.21,합계.22,합계.23,합계.24,합계.25,합계.26,합계.27,합계.28,합계.29,합계.30,합계.31,합계.32,합계.33,합계.34,합계.35,합계.36,합계.37,합계.38,합계.39,합계.40,합계.41,합계.42,합계.43,합계.44,합계.45,합계.46,합계.47,합계.48,합계.49,합계.50,합계.51,합계.52,합계.53,합계.54,합계.55,합계.56,합계.57,합계.58,합계.59,합계.60,합계.61,합계.62,합계.63,합계.64,합계.65,합계.66,합계.67,합계.68,합계.69,합계.70,합계.71,합계.72,합계.73,합계.74,합계.75,합계.76,합계.77,합계.78,합계.79,합계.80,합계.81,합계.82,합계.83,합계.84,합계.85,합계.86,합계.87,합계.88,합계.89,합계.90,합계.91,합계.92,합계.93,합계.94,합계.95,합계.96,합계.97,합계.98,합계.99,합계.100,합계.101,합계.102,합계.103,합계.104,합계.105,합계.106,합계.107,합계.108,합계.109,합계.110,합계.111,합계.112,합계.113,합계.114,합계.115,합계.116,합계.117,합계.118,합계.119,합계.120,합계.121,합계.122,합계.123,합계.124,합계.125,합계.126,합계.127,합계.128,합계.129,합계.130,합계.131,합계.132,합계.133,합계.134,합계.135,합계.136,합계.137,합계.138,합계.139,합계.140,합계.141,합계.142,합계.143,합계.144,합계.145,합계.146,합계.147,합계.148,합계.149,합계.150,합계.151,합계.152,합계.153,합계.154,합계.155,합계.156,합계.157,합계.158,합계.159,합계.160,합계.161,합계.162,합계.163,합계.164,합계.165,합계.166,합계.167,합계.168,합계.169,합계.170,합계.171,합계.172,합계.173,합계.174,합계.175,합계.176,합계.177,합계.178,합계.179,합계.180,합계.181,합계.182,합계.183,합계.184,합계.185,합계.186,합계.187,6~9세,6~9세.1,6~9세.2,6~9세.3,6~9세.4,6~9세.5,6~9세.6,6~9세.7,6~9세.8,6~9세.9,6~9세.10,6~9세.11,6~9세.12,6~9세.13,6~9세.14,6~9세.15,6~9세.16,6~9세.17,6~9세.18,6~9세.19,6~9세.20,6~9세.21,6~9세.22,6~9세.23,6~9세.24,6~9세.25,6~9세.26,6~9세.27,6~9세.28,6~9세.29,6~9세.30,6~9세.31,6~9세.32,6~9세.33,6~9세.34,6~9세.35,6~9세.36,6~9세.37,6~9세.38,6~9세.39,6~9세.40,6~9세.41,6~9세.42,6~9세.43,6~9세.44,6~9세.45,6~9세.46,6~9세.47,6~9세.48,6~9세.49,6~9세.50,6~9세.51,6~9세.52,6~9세.53,6~9세.54,6~9세.55,6~9세.56,6~9세.57,6~9세.58,6~9세.59,6~9세.60,6~9세.61,6~9세.62,6~9세.63,6~9세.64,6~9세.65,6~9세.66,6~9세.67,6~9세.68,6~9세.69,6~9세.70,6~9세.71,6~9세.72,6~9세.73,6~9세.74,6~9세.75,6~9세.76,6~9세.77,6~9세.78,6~9세.79,6~9세.80,6~9세.81,6~9세.82,6~9세.83,6~9세.84,6~9세.85,6~9세.86,6~9세.87,6~9세.88,6~9세.89,6~9세.90,6~9세.91,6~9세.92,6~9세.93,6~9세.94,6~9세.95,6~9세.96,6~9세.97,6~9세.98,6~9세.99,6~9세.100,6~9세.101,6~9세.102,6~9세.103,6~9세.104,6~9세.105,6~9세.106,6~9세.107,6~9세.108,6~9세.109,6~9세.110,6~9세.111,6~9세.112,6~9세.113,6~9세.114,6~9세.115,6~9세.116,6~9세.117,6~9세.118,6~9세.119,6~9세.120,6~9세.121,6~9세.122,6~9세.123,6~9세.124,6~9세.125,6~9세.126,6~9세.127,6~9세.128,6~9세.129,6~9세.130,6~9세.131,6~9세.132,6~9세.133,6~9세.134,6~9세.135,6~9세.136,6~9세.137,6~9세.138,6~9세.139,6~9세.140,6~9세.141,6~9세.142,6~9세.143,6~9세.144,6~9세.145,6~9세.146,6~9세.147,6~9세.148,6~9세.149,6~9세.150,6~9세.151,6~9세.152,6~9세.153,6~9세.154,6~9세.155,6~9세.156,6~9세.157,6~9세.158,6~9세.159,6~9세.160,6~9세.161,6~9세.162,6~9세.163,6~9세.164,6~9세.165,6~9세.166,6~9세.167,6~9세.168,6~9세.169,6~9세.170,6~9세.171,6~9세.172,6~9세.173,6~9세.174,6~9세.175,6~9세.176,6~9세.177,6~9세.178,6~9세.179,6~9세.180,6~9세.181,6~9세.182,6~9세.183,6~9세.184,6~9세.185,6~9세.186,6~9세.187,10~14세,10~14세.1,10~14세.2,10~14세.3,10~14세.4,10~14세.5,10~14세.6,10~14세.7,10~14세.8,10~14세.9,10~14세.10,10~14세.11,10~14세.12,10~14세.13,10~14세.14,10~14세.15,10~14세.16,10~14세.17,10~14세.18,10~14세.19,10~14세.20,10~14세.21,10~14세.22,10~14세.23,10~14세.24,10~14세.25,10~14세.26,10~14세.27,10~14세.28,10~14세.29,10~14세.30,10~14세.31,10~14세.32,10~14세.33,10~14세.34,10~14세.35,10~14세.36,10~14세.37,10~14세.38,10~14세.39,10~14세.40,10~14세.41,10~14세.42,10~14세.43,10~14세.44,10~14세.45,10~14세.46,10~14세.47,10~14세.48,10~14세.49,10~14세.50,10~14세.51,10~14세.52,10~14세.53,10~14세.54,10~14세.55,10~14세.56,10~14세.57,10~14세.58,10~14세.59,10~14세.60,10~14세.61,10~14세.62,10~14세.63,10~14세.64,10~14세.65,10~14세.66,10~14세.67,10~14세.68,10~14세.69,10~14세.70,10~14세.71,10~14세.72,10~14세.73,10~14세.74,10~14세.75,10~14세.76,10~14세.77,10~14세.78,10~14세.79,10~14세.80,10~14세.81,10~14세.82,10~14세.83,10~14세.84,10~14세.85,10~14세.86,10~14세.87,10~14세.88,10~14세.89,10~14세.90,10~14세.91,10~14세.92,10~14세.93,10~14세.94,10~14세.95,10~14세.96,10~14세.97,10~14세.98,10~14세.99,10~14세.100,10~14세.101,10~14세.102,10~14세.103,10~14세.104,10~14세.105,10~14세.106,10~14세.107,10~14세.108,10~14세.109,10~14세.110,10~14세.111,10~14세.112,10~14세.113,10~14세.114,10~14세.115,10~14세.116,10~14세.117,10~14세.118,10~14세.119,10~14세.120,10~14세.121,10~14세.122,10~14세.123,10~14세.124,10~14세.125,10~14세.126,10~14세.127,10~14세.128,10~14세.129,10~14세.130,10~14세.131,10~14세.132,10~14세.133,10~14세.134,10~14세.135,10~14세.136,10~14세.137,10~14세.138,10~14세.139,10~14세.140,10~14세.141,10~14세.142,10~14세.143,10~14세.144,10~14세.145,10~14세.146,10~14세.147,10~14세.148,10~14세.149,10~14세.150,10~14세.151,10~14세.152,10~14세.153,10~14세.154,10~14세.155,10~14세.156,10~14세.157,10~14세.158,10~14세.159,10~14세.160,10~14세.161,10~14세.162,10~14세.163,10~14세.164,10~14세.165,10~14세.166,10~14세.167,10~14세.168,10~14세.169,10~14세.170,10~14세.171,10~14세.172,10~14세.173,10~14세.174,10~14세.175,10~14세.176,10~14세.177,10~14세.178,10~14세.179,10~14세.180,10~14세.181,10~14세.182,10~14세.183,10~14세.184,10~14세.185,10~14세.186,10~14세.187
0,시점,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자
1,시점,전국,전국,전국,전국,서울특별시,서울특별시,서울특별시,서울특별시,성북구,성북구,성북구,성북구,노원구,노원구,노원구,노원구,은평구,은평구,은평구,은평구,양천구,양천구,양천구,양천구,강서구,강서구,강서구,강서구,구로구,구로구,구로구,구로구,관악구,관악구,관악구,관악구,서초구,서초구,서초구,서초구,강남구,강남구,강남구,강남구,송파구,송파구,송파구,송파구,강동구,강동구,강동구,강동구,부산광역시,부산광역시,부산광역시,부산광역시,대구광역시,대구광역시,대구광역시,대구광역시,인천광역시,인천광역시,인천광역시,인천광역시,광주광역시,광주광역시,광주광역시,광주광역시,대전광역시,대전광역시,대전광역시,대전광역시,울산광역시,울산광역시,울산광역시,울산광역시,경기도,경기도,경기도,경기도,수원시,수원시,수원시,수원시,성남시,성남시,성남시,성남시,고양시,고양시,고양시,고양시,용인시,용인시,용인시,용인시,화성시,화성시,화성시,화성시,강원도,강원도,강원도,강원도,춘천시,춘천시,춘천시,춘천시,원주시,원주시,원주시,원주시,강릉시,강릉시,강릉시,강릉시,동해시,동해시,동해시,동해시,속초시,속초시,속초시,속초시,충청북도,충청북도,충청북도,충청북도,청주시,청주시,청주시,청주시,충청남도,충청남도,충청남도,충청남도,천안시,천안시,천안시,천안시,아산시,아산시,아산시,아산시,전라북도,전라북도,전라북도,전라북도,전주시,전주시,전주시,전주시,익산시,익산시,익산시,익산시,전라남도,전라남도,전라남도,전라남도,여수시,여수시,여수시,여수시,순천시,순천시,순천시,순천시,경상북도,경상북도,경상북도,경상북도,경상남도,경상남도,경상남도,경상남도,창원시,창원시,창원시,창원시,김해시,김해시,김해시,김해시,제주도,제주도,제주도,제주도,전국,전국,전국,전국,서울특별시,서울특별시,서울특별시,서울특별시,성북구,성북구,성북구,성북구,노원구,노원구,노원구,노원구,은평구,은평구,은평구,은평구,양천구,양천구,양천구,양천구,강서구,강서구,강서구,강서구,구로구,구로구,구로구,구로구,관악구,관악구,관악구,관악구,서초구,서초구,서초구,서초구,강남구,강남구,강남구,강남구,송파구,송파구,송파구,송파구,강동구,강동구,강동구,강동구,부산광역시,부산광역시,부산광역시,부산광역시,대구광역시,대구광역시,대구광역시,대구광역시,인천광역시,인천광역시,인천광역시,인천광역시,광주광역시,광주광역시,광주광역시,광주광역시,대전광역시,대전광역시,대전광역시,대전광역시,울산광역시,울산광역시,울산광역시,울산광역시,경기도,경기도,경기도,경기도,수원시,수원시,수원시,수원시,성남시,성남시,성남시,성남시,고양시,고양시,고양시,고양시,용인시,용인시,용인시,용인시,화성시,화성시,화성시,화성시,강원도,강원도,강원도,강원도,춘천시,춘천시,춘천시,춘천시,원주시,원주시,원주시,원주시,강릉시,강릉시,강릉시,강릉시,동해시,동해시,동해시,동해시,속초시,속초시,속초시,속초시,충청북도,충청북도,충청북도,충청북도,청주시,청주시,청주시,청주시,충청남도,충청남도,충청남도,충청남도,천안시,천안시,천안시,천안시,아산시,아산시,아산시,아산시,전라북도,전라북도,전라북도,전라북도,전주시,전주시,전주시,전주시,익산시,익산시,익산시,익산시,전라남도,전라남도,전라남도,전라남도,여수시,여수시,여수시,여수시,순천시,순천시,순천시,순천시,경상북도,경상북도,경상북도,경상북도,경상남도,경상남도,경상남도,경상남도,창원시,창원시,창원시,창원시,김해시,김해시,김해시,김해시,제주도,제주도,제주도,제주도,전국,전국,전국,전국,서울특별시,서울특별시,서울특별시,서울특별시,성북구,성북구,성북구,성북구,노원구,노원구,노원구,노원구,은평구,은평구,은평구,은평구,양천구,양천구,양천구,양천구,강서구,강서구,강서구,강서구,구로구,구로구,구로구,구로구,관악구,관악구,관악구,관악구,서초구,서초구,서초구,서초구,강남구,강남구,강남구,강남구,송파구,송파구,송파구,송파구,강동구,강동구,강동구,강동구,부산광역시,부산광역시,부산광역시,부산광역시,대구광역시,대구광역시,대구광역시,대구광역시,인천광역시,인천광역시,인천광역시,인천광역시,광주광역시,광주광역시,광주광역시,광주광역시,대전광역시,대전광역시,대전광역시,대전광역시,울산광역시,울산광역시,울산광역시,울산광역시,경기도,경기도,경기도,경기도,수원시,수원시,수원시,수원시,성남시,성남시,성남시,성남시,고양시,고양시,고양시,고양시,용인시,용인시,용인시,용인시,화성시,화성시,화성시,화성시,강원도,강원도,강원도,강원도,춘천시,춘천시,춘천시,춘천시,원주시,원주시,원주시,원주시,강릉시,강릉시,강릉시,강릉시,동해시,동해시,동해시,동해시,속초시,속초시,속초시,속초시,충청북도,충청북도,충청북도,충청북도,청주시,청주시,청주시,청주시,충청남도,충청남도,충청남도,충청남도,천안시,천안시,천안시,천안시,아산시,아산시,아산시,아산시,전라북도,전라북도,전라북도,전라북도,전주시,전주시,전주시,전주시,익산시,익산시,익산시,익산시,전라남도,전라남도,전라남도,전라남도,여수시,여수시,여수시,여수시,순천시,순천시,순천시,순천시,경상북도,경상북도,경상북도,경상북도,경상남도,경상남도,경상남도,경상남도,창원시,창원시,창원시,창원시,김해시,김해시,김해시,김해시,제주도,제주도,제주도,제주도
2,시점,내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명),내국인 (명),대학교(4년제 이상)-계 (명),대학원(석사 과정)-계 (명),대학원(박사 과정)-계 (명)
3,2005,22135864,3539716,315697,48490,4660085,1069263,124003,21374,209826,42127,4776,829,287770,64279,5543,700,213381,37771,3358,484,223935,53860,5699,949,256371,52368,4457,494,187178,34530,3275,381,244646,58643,6777,1123,181095,70812,12630,3081,253035,98288,15021,3225,277755,79145,8880,1455,210484,45627,4017,468,1691101,286041,18744,3195,1159407,195407,14522,2510,1175982,138654,9705,909,664535,130994,9080,1796,671519,134978,14495,2681,472583,58390,3361,332,4778358,794396,70486,8630,480458,84838,8306,988,436537,101419,11369,1838,407025,96551,8582,1175,316047,85378,8485,1126,122822,13871,1074,101,684226,80402,5935,874,124163,23961,2034,361,132306,18174,1416,170,104795,15416,1114,193,42981,4541,206,32,40598,3279,246,37,679586,80297,6312,844,299097,50222,4226,583,875796,88449,7010,848,234118,34998,3100,449,94369,9445,518,44,850369,109109,8691,1374,293735,58395,4840,844,145131,19872,1599,285,872171,66819,4168,480,129518,12149,664,63,122589,15159,1060,134,1229116,116207,7274,1036,1423224,161232,9715,1297,226292,34692,2139,243,195406,26622,1529,190,247806,29078,2196,310,1219788,0,0,0,213018,0,0,0,9509,0,0,0,15263,0,0,0,10385,0,0,0,12044,0,0,0,11865,0,0,0,9153,0,0,0,10039,0,0,0,7323,0,0,0,9139,0,0,0,12924,0,0,0,9975,0,0,0,76401,0,0,0,61598,0,0,0,69106,0,0,0,41835,0,0,0,39728,0,0,0,31204,0,0,0,305887,0,0,0,30552,0,0,0,23145,0,0,0,27033,0,0,0,22459,0,0,0,8797,0,0,0,37138,0,0,0,6698,0,0,0,7983,0,0,0,5440,0,0,0,2492,0,0,0,2454,0,0,0,38451,0,0,0,18448,0,0,0,48232,0,0,0,15533,0,0,0,5245,0,0,0,47210,0,0,0,18011,0,0,0,8371,0,0,0,48236,0,0,0,7947,0,0,0,8360,0,0,0,62549,0,0,0,83226,0,0,0,15329,0,0,0,14931,0,0,0,15969,0,0,0,1618573,0,0,0,296848,0,0,0,12265,0,0,0,21477,0,0,0,13839,0,0,0,18472,0,0,0,17004,0,0,0,11707,0,0,0,12625,0,0,0,11147,0,0,0,15459,0,0,0,19464,0,0,0,14846,0,0,0,110938,0,0,0,84124,0,0,0,97271,0,0,0,55781,0,0,0,52711,0,0,0,41764,0,0,0,392196,0,0,0,41999,0,0,0,32352,0,0,0,37184,0,0,0,24947,0,0,0,8834,0,0,0,47617,0,0,0,8839,0,0,0,10516,0,0,0,7110,0,0,0,3061,0,0,0,3130,0,0,0,49839,0,0,0,24618,0,0,0,60449,0,0,0,19390,0,0,0,5893,0,0,0,62185,0,0,0,24765,0,0,0,11606,0,0,0,61540,0,0,0,10693,0,0,0,11185,0,0,0,78588,0,0,0,106473,0,0,0,21596,0,0,0,17875,0,0,0,20249,0,0,0

In [128]:
pd.set_option('display.max_columns',None)